* {
    padding: 0%;
    margin: 0%;
}
/*fuente de letra*/
.lxgw-wenkai-mono-tc-regular {
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6, p, .btn {
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;

}

/*inicio*/

.titulofondo {
  font-size: 30px;
  text-align: center;
  color: #bbbbbb;
  background-color: #3a3939;
}
.p-inicio {
  font-size: 30px;
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}


/*contactanos*/
.formulario {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #248a60;
} 
form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.907);
    border-radius: 20px;
    text-align: center;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #111;
}
.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;   
}
.titulo-formulario {
    color: #ffffff;
    font-size: 35px;
    text-align: center;
}
label {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    color: #283629;
    outline: none;
}
input::placeholder, textarea::placeholder {
    color: #b5cab6;
}
.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.form-txt a {
    color: #bbbbbb;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.btnt {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
    background-color: #51d94c;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
    cursor: pointer;
}
.btnt:hover {
    background-color: #50e04b;
}

/*footer*/
.footer {
    width: 100%;
    background-color: #111;
    padding: 40px 0;
  }
  .footer .container-footer .footer-row {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .container-footer .footer-row .footer-links {
    width: 25%;
    padding: 0 15%;
  }
  .footer .container-footer .footer-row .footer-links h2 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
  }
  .footer .container-footer .footer-row .footer-links ul li {
    font-size: 20px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
  }
  .footer .container-footer .footer-row .footer-links ul li:hover {
    color: #ffffff;
    padding-left: 6px;
  }
  .footer .container-footer .footer-row .social-links {
    font-size: 20px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
  }
  .footer .container-footer .footer-row .social-links a {
    min-height: 400px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer .container-footer .footer-row .social-links:hover {
    color: #ffffff;
    padding-left: 6px;
  }

  /*responsive mobile*/
  @media screen and (max-width: 767px) {
    /*inicio*/
    .d-block {
      width: 100%;
      height: 200px;
    }
    .stocks {
      margin: 20px;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: 2fr;
      gap: 40px;
      align-items: center;
    }
    .stocks img {
      width: 100%;
      height: 300px;
      display: flex;
      flex-wrap: wrap;
    }
    .stocks .stocks-2 {
      text-align: center;
    }
    .stocks-proximos {
      margin: 30px;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: 1fr;
      gap: 20px;
      align-content: center;
    }
    .stocks-proximos img {
      width: 100%;
      height: 300px;
      display: flex;
      flex-wrap: wrap;
    }
    
    .stocks-proximos2 {
      text-align: center;
      align-content: center;
    }
    /*contactanos*/
    form {
      padding: 50px 30px;
      width: 100%;
    }
    input {
      padding: 15px;
    }
   .titulo-formulario {
    padding: 30px;
   }
  }

  /*tablet*/
  @media screen and (min-width: 768px) and (max-width: 998px) {
    /*inicio*/
    .d-block {
      width: 100%;
      height: 450px;
    }
    .stocks {
      margin: 20px;
      display: grid;
      grid-template-columns: repeat(4, 20%);
      grid-template-rows: 1fr;
      gap: 35px;
      align-content: center;
      
    }
    .stocks img {
      width: 100%;
      height: 80%;
      display: flex;
      flex-wrap: wrap;
    }
    .stocks .stocks-2 {
      text-align: center;
    }
    .stocks-proximos {
      margin: 30px;
      display: grid;
      grid-template-columns: repeat(3, 31%);
      grid-template-rows: 1fr;
      gap: 20px;
      align-content: center;
    }
    .stocks-proximos img {
      width: 100%;
      height: 70%;
      display: flex;
      flex-wrap: wrap;
    }
    .stocks-proximos2 {
      text-align: center;
      align-content: center;
    }
    
  }  
  
  /*responsive pc*/
  @media screen and (min-width: 999px) {
    /*inicio*/
    .d-block {
      width: 100%;
      height: 450px;
    }
    .stocks {
      margin: 20px;
      display: grid;
      grid-template-columns: repeat(4, 23%);
      grid-template-rows: 1fr;
      gap: 35px;
      align-content: center;
      
    }
    .stocks img {
      width: 100%;
      height: 80%;
      display: flex;
      flex-wrap: wrap;
    }
    .stocks .stocks-2 {
      text-align: center;
    }
    .stocks-proximos {
      margin: 20px;
      display: grid;
      grid-template-columns: repeat(3, 31%);
      grid-template-rows: 1fr;
      gap: 30px;
      align-content: center;
      margin-bottom: 30px;
    }
    .stocks-proximos img {
      width: 100%;
      height: 70%;
      display: flex;
      flex-wrap: wrap;
    }
    .stocks-proximos2 {
      text-align: center;
      align-content: center;
      
    }
    
  }